# Ignore any built binaries.
terraform-provider-nsxt*

# Ignore distribution directories.
dist/

# Ignore cursor files.
.cursor/

# Ignore editor directories.
.idea/
.vscode/

# Ignore temporary editor files.
*~

# Ignore macOS desktop services store files.
**/.DS_Store


setup/