---
name: docs-lint

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Install Tools
        run: make tools
      - name: Docs HCL Lint
        run: make docs-lint
      - name: Docs Lint
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
        with:
          config: '.markdownlint.jsonc'
          globs: |
            docs/*.md
            docs/data-sources/*.md
            docs/guides/*.md
            docs/resources/*.md
