---
name: docs-lint

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Install Tools
        run: make tools
      - name: Docs HCL Lint
        run: make docs-lint
      - name: Docs Lint
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          config: '.markdownlint.jsonc'
          globs: |
            docs/*.md
            docs/data-sources/*.md
            docs/guides/*.md
            docs/resources/*.md
