---
name: docs-lint

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Install Tools
        run: make tools
      - name: Docs HCL Lint
        run: make docs-lint
      - name: Docs Lint
        uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v20.0.0
        with:
          config: '.markdownlint.jsonc'
          globs: |
            docs/*.md
            docs/data-sources/*.md
            docs/guides/*.md
            docs/resources/*.md
