---
name: golangci-lint

on:
  pull_request:
    paths-ignore:
      - README.md
  push:
    paths-ignore:
      - README.md
  schedule:
    - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Download Go Modules
        run: go mod download
      - name: Build
        run: go build -v .
      - name: Run Linters
        uses: ./.github/actions/golangci-lint
        with:
          only-new-issues: true
      - name: Check provider.go sorting
        run: ./scripts/check_object_sorting.sh
