---
name: Tests

on:
  pull_request:
    paths:
      - 'nsxt/metadata/**.go'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./nsxt/metadata/...
