---
name: Tests

on:
  pull_request:
    paths:
      - 'nsxt/metadata/**.go'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./nsxt/metadata/...
